html {
    box-sizing: border-box;
}
*, *:before, *:after {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: inherit;
}
img, canvas {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    transition: opacity .3s;
}
body {
    background: #fff;
}
body, input, textarea, select, option, button {
    font: 16px/1.618'Lato', sans-serif;
}
h1, h2, h3 {
    line-height: 1;
    text-transform: uppercase;
}
h1 {
    font-size: 1.5em;
    text-align: center;
}
/* LAYOUT */

#sidebar {
    width: 15em;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #2c3e50;
    text-shadow: rgba(0, 0, 0, .1) 0 -1px 0;
}
.title {
    background: #2980b9;
    color: #ecf0f1;
}
.header, .header h1{
    height: 4rem;
    line-height: 4rem;1
}
label {
    display: block;
    text-transform: uppercase;
    color: #ecf0f1;
}
input, select {
    margin-bottom: 1em;
    width: 100%;
    padding: .5em;
}
#main {
    margin-left: 15em;
}
.top{
    padding: 0 1em;
    
}
.content {
    background: #ecf0f1;
}
.footer {
    color: #95a5a6;
}
.footer a {
    color: #7f8c8d;
}
.button {
    overflow: hidden;
    line-height: 1;
    background: #2980b9;
    color: #ecf0f1;
    font-weight: 700;
    padding: .5em 1em;
    border: 0;
    text-transform: uppercase;
    text-decoration: none;
}
.button:hover {
    cursor: pointer;
    background: #3498db;
}
.button:active {
    background: #2c3e50;
}
.button-default {
    background: #95a5a6;
    color: #ecf0f1;
}
.button-default:hover {
    background: #7f8c8d;
    color: #fff;
}
.btn-default:active {
    background: #000;
}
.txt-big {
    font-size: 1.25em;
}
.m-1x {
    margin: 1em;
}
.p-1x {
    padding: 1em;
}
.sh {
    box-shadow: rgba(0, 0, 0, .1) 0 1px 0, rgba(0, 0, 0, .1) 0 1px 3px, rgba(0, 0, 0, .1) 0 2px 6px;
}
.inline-block {
    display: inline-block;
}
.txt-center {
    text-align: center;
}
